## exercicio 1

1 Faça um Programa que peça o raio de um círculo, calcule e mostre sua área.

In [4]:
pi = 3.14

In [5]:
r = float(input("Digite a área do Circulo em metros: "))

Digite a área do Circulo em metros: 6

In [6]:
a = pi * (r * r)

In [7]:
a

113.04

## exercicio 2

2 Faça um Programa que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.

In [8]:
l = int(input("Digite o lado do quadrado: "))

Digite o lado do quadrado: 8

In [9]:
p = l * 4

In [10]:
a = l * l

In [11]:
print("Area: ", a,)

Area:  64

In [12]:
d = a * 2

In [13]:
d

128

## exercicio 3

3 Faça um Programa que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [14]:
ht = float(input("Quanto você ganha por hora trabalhada? "))

Quanto você ganha por hora trabalhada? 9.9

In [15]:
hm = int(input("Quantidade de horas trabalhadas no mes? "))

Quantidade de horas trabalhadas no mes? 144

In [16]:
htotal = ht * hm

In [17]:
htotal

1425.6000000000001

## exercicio 4

4 Faça um Programa que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus Celsius. C = (5 * (F-32) / 9).

In [19]:
f = int(input("Digite a temperatura em Farenheit:"))

Digite a temperatura em Farenheit:70

In [20]:
c = (5 * (f-32)/9)

In [21]:
c

21.11111111111111

## exercicio 5

5 Faça um Programa que peça a temperatura em graus Celsius, transforme e mostre em graus Farenheit.

In [22]:
c = float(input("Digite o valor da temperatura em Celsius:"))

Digite o valor da temperatura em Celsius:21.1111111111111111

In [23]:
f = c * 9/5 + 32

In [24]:
f

70.0

## exercicio 6

6 Faça um Programa que peça 2 números inteiros e um número real. Calcule e mostre: 
- o produto do dobro do primeiro com metade do segundo . 
- a soma do triplo do primeiro com o terceiro. 
- o terceiro elevado ao cubo.

In [25]:
n1 = int(input("Digite um valor inteiro: "))

Digite um valor inteiro: 3

In [26]:
n2 = int(input("Digite o segundo valor inteiro "))

Digite o segundo valor inteiro 4

In [27]:
n3 = float(input("Digite o terceiro valor decimal: "))

Digite o terceiro valor decimal: 5.5

In [28]:
d1 = n1 * 2

In [29]:
d1

6

In [30]:
m2 = n2 / 2

In [31]:
m2

2.0

In [32]:
s = d1 + m2

In [33]:
s

8.0

In [34]:
t = n1 * 3

In [35]:
t

9

In [36]:
st = t + n3

In [37]:
st

14.5

In [38]:
cubo = n3 ** 3

In [39]:
cubo

166.375

## Exercicio 7

7 João Papo-de-Pescador, homem de bem, comprou um microcomputador para controlar o rendimento diário de seu trabalho. Toda vez que ele traz um peso de peixes maior que o estabelecido pelo regulamento de pesca do estado de São Paulo (50 quilos) deve pagar uma multa de R$ 4,00 por quilo excedente. João precisa que você faça um programa que leia a variável peso (peso de peixes) e verifique se há excesso. Se houver, gravar na variável excesso e na variável multa o valor da multa que João deverá pagar. Caso contrário mostrar tais variáveis com o conteúdo ZERO.

In [45]:
peso = float(input("Coloque o peso do peixe: "))

Coloque o peso do peixe: 60.00

In [46]:
p = 50.00

In [47]:
e = peso - p

In [48]:
multa = e * 4

In [49]:
if(p < peso):
    print("Peso acima do limite, sua multa será de: ", multa)
else:
    print("Peso abaixo do limite")

Peso acima do limite, sua multa será de:  40.0

## Exercicio 8

Faça um Programa que pergunte quanto você ganha por hora e o número de horas
trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês,
sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5%
para o sindicato, faça um programa que nos dê:
- salário bruto.
- quanto pagou ao INSS.
- quanto pagou ao sindicato.
- o salário líquido.
- calcule os descontos e o salário líquido, conforme a tabela abaixo:
+ Salário Bruto : R$
- IR (11%) : R$
- INSS (8%) : R$
- Sindicato ( 5%) : R$
= Salário Liquido : R$
Obs.: Salário Bruto - Descontos = Salário Líquido.

In [131]:
ht = float(input("Quantidade ganho em horas: "))

Quantidade ganho em horas: 9.9

In [54]:
hm = float(input("Quantidade de horas trabalhadas no mês: "))

Quantidade de horas trabalhadas no mês: 144

In [55]:
sb = ht * hm

In [60]:
print("O salario bruto é de: R$",sb)

O salario bruto é de: R$ 1425.6000000000001

In [61]:
ir = 11 / 100 * sb

In [66]:
print("São descontados de Imposto de Renda do salário bruto: R$", ir)

São descontados de Imposto de Renda do salário bruto: R$ 156.816

In [65]:
inss = 8 / 100 * sb

In [67]:
print("São descontados de INSS do salário bruto: R$", inss)

São descontados de INSS do salário bruto: R$ 114.04800000000002

In [68]:
sind = 5 / 100 * sb

In [69]:
print("São descontados do Sindicato do salário bruto: R$", sind)

São descontados do Sindicato do salário bruto: R$ 71.28000000000002

In [70]:
desc = ir + inss + sind

In [72]:
print("Descontos totais do salário bruto: R$", desc)

Descontos totais do salário bruto: R$ 342.14400000000006

In [73]:
sl = sb - desc

In [74]:
print("O salário liquido é de: R$", sl)

O salário liquido é de: R$ 1083.4560000000001

In [92]:
print("Salário bruto: R$", sb)
print("Imposto de Renda: R$", ir)
print("INSS: R$", inss)
print("Sindicato: R$", sind)
print("Salário liquido: R$  " , sl)

Salário bruto: R$ 1425.6000000000001
Imposto de Renda: R$ 156.816
INSS: R$ 114.04800000000002
Sindicato: R$ 71.28000000000002
Salário liquido: R$   1083.4560000000001

## Exercicio 9

Faça um programa que leia 2 strings e informe o conteúdo delas seguido do seu
comprimento. Informe também se as duas strings possuem o mesmo comprimento e
são iguais ou diferentes no conteúdo.

In [263]:
t1 = input("Digite uma palavra: ")

Digite uma palavra: Mauro

In [264]:
t2 = input("Digite uma segunda palavra: ")

Digite uma segunda palavra: Melo

In [265]:
len(t1)

5

In [266]:
len(t2)

4

In [267]:
l1 = t1

In [268]:
l2 = t2

In [269]:
if(len(t1) == len(t2)):
    print("O comprimento das 2 strings são iguais: ",len(t1),"|", len(t2))    
    if(l1 == l2):
        print("As strings possuem o mesmo conteudo",l1,"|", l2)
else:
    print("O comprimento das 2 strings é diferente",len(t1),"|", len(t2))
    if(l1 != l2):
        print("As strings possuem conteudos diferentes",l1,"|",l2)

O comprimento das 2 strings é diferente 5 | 4
As strings possuem conteudos diferentes Mauro | Melo

## Exercicio 10

Faça um programa que permita ao usuário digitar o seu nome e em seguida
mostre o nome do usuário de trás para frente utilizando somente letras maiúsculas.
Dica: lembre−se que ao informar o nome o usuário pode digitar letras maiúsculas ou
minúsculas. Observação: não use loops.

In [294]:
nome = input("Digite seu nome: ")

Digite seu nome: Mauro

In [305]:
n = nome.upper()

In [307]:
n[::-1]

'ORUAM'

## Exercicio 11

Faça um programa que solicite a data de nascimento (dd/mm/aaaa) do usuário e
imprima a data com o nome do mês por extenso.
Data de Nascimento: 29/10/1973
Você nasceu em 29 de Outubro de 1973.
Obs.: Não use desvio condicional nem loops.

In [310]:
dia = int(input("Digite o dia do seu nascimento: "))

Digite o dia do seu nascimento: 09

In [314]:
mes = int(input("Digite o mes do seu nascimento: "))

Digite o mes do seu nascimento: 08

In [315]:
ano = int(input("Digite o ano do seu nascimento: "))

Digite o ano do seu nascimento: 1998